/DetectGPT_Code/data/writingPrompts/
/DetectGPT_Code/data/writingPrompts/README
/DetectGPT_Code/data/writingPrompts/test.wp_source
/DetectGPT_Code/data/writingPrompts/test.wp_target
/DetectGPT_Code/data/writingPrompts/train.wp_source
/DetectGPT_Code/data/writingPrompts/train.wp_target
/DetectGPT_Code/data/writingPrompts/valid.wp_source
/DetectGPT_Code/data/writingPrompts/valid.wp_target
/DetectGPT_Code/Version_0.1/Labelled_Data/
/Logistic_Regression/data/writingPrompts/
/Logistic_Regression/Version_0.2/Labelled_Data/combined_Human_data.csv
/Logistic_Regression/JupyterNotebooks/Labelled_Data/
/Logistic_Regression/Version_0.2/Labelled_Data/
/version_0.5/data/
/version_0.5/data/writingPrompts/
/version_0.5/JupyterNotebooks/data/
/version_0.5a/data/
/version_0.5a/data/
/version_1.0/data/
/version_1.1/data/
